{:devices {:builtin [{:is_keyboard true}]}
  :main [{:des "caps lock as left_control and viceversa"
          :rules [:builtin [:##caps_lock :left_control] [:##left_control :caps_lock]]}
         {:des "slash as right_control when held"
          :rules [[:##slash :right_control nil {:alone :slash}]]}
         {:des "tab as left command when held"
          :rules [[:##tab :left_command nil {:alone :tab}]]}
         {:des "open_bracket for sym layer"
          :rules [:builtin [:open_bracket ["sym-mode" 1] nil {:afterup ["sym-mode" 0]
                                                              :alone :open_bracket}]
                           [:x :open_bracket ["sym-mode" 1]]
                           [:c :close_bracket ["sym-mode" 1]]
                           [:v :!Sgrave_accent_and_tilde ["sym-mode" 1]] ;~
                           [:d :!S9 ["sym-mode" 1]] ;(
                           [:f :!S0 ["sym-mode" 1]] ;)
                           [:e :!Sopen_bracket ["sym-mode" 1]] ;{
                           [:r :!Sclose_bracket ["sym-mode" 1]] ;}
                           [:w :grave_accent_and_tilde ["sym-mode" 1]] ;`
                           [:s :!Squote ["sym-mode" 1]] ;"
                           [:u :page_up ["sym-mode" 1]] ;`
                           [:j :page_down ["sym-mode" 1]] ;"
                           ]}
         {:des "semicolon for hjkl as arrows"
          :rules [:builtin [:semicolon ["arrows-mode" 1] nil {:afterup ["arrows-mode" 0]
                                                              :alone :semicolon}]
                           [:h :left_arrow ["arrows-mode" 1]]
                           [:j :down_arrow ["arrows-mode" 1]]
                           [:k :up_arrow ["arrows-mode" 1]]
                           [:l :right_arrow ["arrows-mode" 1]]
                           ]}
         ; {:des "shift bottom row of left hand to the left so it's more similar to the moonlander"
         ;  :rules [:builtin [:##grave_accent_and_tilde :z]
         ;                   [:##z :x]
         ;                   [:##x :c]
         ;                   [:##c :v]
         ;                   [:##v :b]
         ;                   [:##b :grave_accent_and_tilde]
         ;                   ]}
         ]}
